html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Monoton&display=swap");

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    width: 100%;
    height: 100vh;
}

@mixin border {
    border: 2px solid black;
}

@mixin flex($dir, $justify) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: center;
}

@mixin border {
    border: 1px solid black;
}

#main {
    .bg-image {
        display: none;
    }
    .navbar {
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 15vh;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
        background-color: rgba($color: #efefef, $alpha: 0.5);
        @include flex(row, space-between);
        .logo {
            font-size: 4rem;
            font-family: Limelight;
            span {
                font-size: 3rem;
                font-family: Monoton;
            }
        }
        .logo:hover {
            color: #ea2027;
            cursor: pointer;
        }
        .toggle-menu {
            display: none;
        }
        .menu {
            @include flex(row, center);
            li {
                a {
                    margin: 0px 5px;
                    padding: 20px 20px;
                    font-size: 2rem;
                    color: black;
                    font-family: Roboto;
                    font-weight: 400;
                    transition: all 0.4s ease-in-out;
                    text-transform: uppercase;
                }
                a:hover {
                    border-bottom: 10px solid #ea2027;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
                #join-now-btn {
                    background: linear-gradient(
                            to left,
                            #ea2027 50%,
                            #231e23 50%
                        )
                        right;
                    background-size: 200%;
                    transition: 0.5s ease-out;
                    color: white;
                }
                #join-now-btn:hover {
                    background-position: left;
                    border: none !important;
                }
            }
        }
    }
    video {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -99;
    }
    .feature-text {
        padding: 10px;
        width: 700px;
        height: auto;
        position: absolute;
        right: 5%;
        bottom: 15%;
        @include flex(column, space-around);
        align-items: center;
        h1 {
            text-transform: uppercase;
            font-size: 7rem;
            color: #efefef;
            padding: 0px;
            margin: 0px;
        }
        p {
            font-size: 2.5rem;
            color: #efefef;
            text-align: center;
        }
        a {
            font-family: Roboto;
            padding: 15px 20px;
            border: 2px solid #efefef;
            color: #231e23;
            font-size: 2rem;
            background-color: #efefef;
            font-weight: 700;
            text-transform: uppercase;
            background: linear-gradient(to left, #fff 50%, #231e23 50%) right;
            background-size: 200%;
            transition: 0.5s ease-out;
        }
        a:hover {
            background-position: left;
            color: #efefef;
        }
    }
}

/* Media Queries */

@media (max-width: 1070px) {
    #main {
        .navbar {
            .logo {
                font-size: 3.5rem;
                span {
                    font-size: 2.5rem;
                }
            }
            .menu {
                li {
                    a {
                        padding: 10px 15px;
                        font-size: 1.5rem;
                    }
                    a:hover {
                        border-bottom: 5px solid #ea2027;
                        border-left: 0px;
                        border-right: 0px;
                    }
                    #join-now-btn {
                        padding: 20px 20px;
                    }
                }
            }
        }

        .feature-text {
            width: 500px;
            right: 1%;
            bottom: 10%;
            h1 {
                font-size: 5rem;
            }
        }
    }
}

@media (max-width: 860px) {
    #main {
        .navbar {
            .logo {
                font-size: 3rem;
                span {
                    font-size: 2rem;
                }
            }
            .menu {
                li {
                    a {
                        padding: 10px 10px;
                        font-size: 1.5rem;
                    }
                    a:hover {
                        border-bottom: 5px solid #ea2027;
                        border-left: 0px;
                        border-right: 0px;
                    }
                    #join-now-btn {
                        padding: 15px 5px;
                    }
                }
            }
        }

        .feature-text {
            width: 450px;
            bottom: 15%;
            h1 {
                font-size: 4.5rem;
            }
            a {
                font-size: 1.5rem;
            }
        }
    }
}

@media (max-width: 750px) {
    #main {
        .navbar {
            .logo {
                font-size: 3rem;
                span {
                    font-size: 2rem;
                }
            }
            .menu {
                padding: 0px;
                li {
                    a {
                        padding: 10px 10px;
                        font-size: 1.3rem;
                        font-weight: 500;
                    }
                    a:hover {
                        border-bottom: 5px solid #ea2027;
                        border-left: 0px;
                        border-right: 0px;
                    }
                    #join-now-btn {
                        padding: 15px 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 670px) {
    #main {
        .bg-image {
            display: block;
            img {
                object-fit: cover;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -99;
            }
        }
        .navbar {
            height: auto;
            .toggle-menu {
                cursor: pointer;
                position: absolute;
                right: 2%;
                top: 50%;
                transform: translateY(-50%);
                display: block;
            }
            .menu {
                display: none;
            }
        }
        #bgvid {
            display: none;
        }
        .feature-text {
            left: 50%;
            bottom: 15%;
            transform: translateX(-50%);
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 2rem;
            }
        }
    }
}
