html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Monoton&display=swap");

a {
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    width: 100%;
    height: 100vh;
}

@mixin border {
    border: 2px solid black;
}

@mixin flex($dir, $justify, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin border($color: black) {
    border: 1px solid $color;
}

/* Main Section Design */

#main {
    .bg-image {
        display: none;
    }
    .menu-bar {
        display: none;
    }
    .navbar {
        padding: 10px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 13vh;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.3);
        background-color: rgba($color: #efefef, $alpha: 0.5);
        @include flex(row, space-between);
        z-index: 100;
        .logo {
            font-size: 4rem;
            font-family: Limelight;
            span {
                font-size: 3rem;
                font-family: Monoton;
            }
        }
        .logo:hover {
            font-family: Monoton;
            span {
                font-family: Limelight;
            }
            cursor: pointer;
        }
        .toggle-menu {
            display: none;
        }
        .menu {
            @include flex(row, center);
            li {
                a {
                    margin: 0px 5px;
                    padding: 20px 20px;
                    font-size: 2rem;
                    color: black;
                    font-family: Roboto;
                    font-weight: 400;
                    transition: all 0.4s ease-in-out;
                    text-transform: uppercase;
                }
                a:hover {
                    border-bottom: 10px solid #ea2027;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                }
                #join-now-btn {
                    background: linear-gradient(
                            to left,
                            #ea2027 50%,
                            #231e23 50%
                        )
                        right;
                    background-size: 200%;
                    transition: 0.5s ease-out;
                    color: white;
                }
                #join-now-btn:hover {
                    background-position: left;
                    border: none !important;
                }
            }
        }
    }
    video {
        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -99;
    }
    .feature-text {
        padding: 10px;
        width: 700px;
        height: auto;
        position: absolute;
        right: 5%;
        bottom: 15%;
        @include flex(column, space-around);
        align-items: center;
        h1 {
            text-transform: uppercase;
            font-size: 7rem;
            color: #efefef;
            padding: 0px;
            margin: 0px;
        }
        p {
            font-size: 2.5rem;
            color: #efefef;
            text-align: center;
        }
        a {
            font-family: Roboto;
            padding: 15px 20px;
            border: 2px solid #efefef;
            color: #231e23;
            font-size: 2rem;
            background-color: #efefef;
            font-weight: 700;
            text-transform: uppercase;
            background: linear-gradient(to left, #fff 50%, #231e23 50%) right;
            background-size: 200%;
            transition: 0.5s ease-out;
        }
        a:hover {
            background-position: left;
            color: #efefef;
        }
    }
}

/* Benefits Section Design */

#benefits {
    height: auto;
    @include flex(column, center);
    .container {
        padding: 5px 0px;

        width: 100%;
        @include flex(row, center);
        .image-container {
            width: 40%;
            height: 400px;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .text-container {
            width: 40%;
            height: auto;
            margin: 5%;
            padding: 10px;
            font-family: Roboto;
            @include flex(column, center);
            h1 {
                font-size: 3rem;
                font-weight: 900;
            }
            p {
                font-size: 2rem;
                text-align: justify;
                font-weight: 300;
            }
            .arrow-container {
                width: 50%;
                padding: 10px 0px;
                cursor: pointer;
                background-color: #ea2027;
                transition: all 0.5s ease-in-out;
                @include flex(row, center);
                a {
                    font-size: 1.6rem;
                    color: #fff;
                    font-weight: 700;
                    margin: 10px;
                }
                i {
                    color: #fff;
                    font-size: 2rem;
                }
            }
            .arrow-container:hover {
                background-color: #231e23;
                a {
                    color: #fff;
                }
                i {
                    transform: translateX(10px);
                }
            }
        }
    }
}

/* Gallery Section Design */

#gallery {
    position: relative;
    .gallery-container {
        .gallery-title {
            display: none;
        }
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;
        .first {
            height: 400px;
            width: 350px;
            z-index: 1;
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-80%, -50%);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .text-container {
                z-index: 5;
                position: absolute;
                width: 40%;
                left: 5%;
                top: 40%;
                color: #fff;
            }
        }
        .second {
            height: 500px;
            width: 450px;
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 35%;
            transform: translate(-65%, -50%);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .text-container {
                z-index: 5;
                position: absolute;
                width: 40%;
                left: 5%;
                top: 40%;
                color: #fff;
            }
        }
        .third {
            height: 600px;
            width: 550px;
            z-index: 3;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .text-container {
                z-index: 5;
                position: absolute;
                width: 50%;
                left: 5%;
                top: 30%;
                color: #fff;
                h1 {
                    font-size: 2.5rem;
                }
                q {
                    font-size: 1.5rem;
                }
                h3 {
                    font-size: 2rem;
                }
            }
            #right-arrow-btn {
                position: absolute;
                cursor: pointer;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -20%);
                z-index: 5;
                padding: 30px;
                border-radius: 50%;
                box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5);
                transition: all 0.3s ease-in-out;
            }
            #right-arrow-btn:hover {
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
        .fourth {
            height: 500px;
            width: 450px;
            z-index: 2;
            position: absolute;
            top: 50%;
            right: 35%;
            transform: translate(65%, -50%);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .text-container {
                z-index: 5;
                position: absolute;
                width: 40%;
                right: 5%;
                top: 40%;
                color: #fff;
            }
        }
        .fifth {
            height: 400px;
            width: 350px;
            z-index: 1;
            position: absolute;
            top: 50%;
            right: 20%;
            transform: translate(80%, -50%);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .text-container {
                z-index: 5;
                position: absolute;
                width: 40%;
                right: 5%;
                top: 40%;
                color: #fff;
            }
        }
        .card {
            box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
        }
        .card:after {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0)
                linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0) 0px,
                    rgba(61, 38, 38, 0.7) 100%
                )
                repeat 0 0;
        }
    }
}

/* Pricing Section Design */

#pricing {
    margin: 100px 0px;
    .feature {
        @include flex(column, space-evenly);
        height: 30%;
        h1 {
            font-family: Roboto;
            font-size: 4rem;
            margin-top: 0px;
            margin-bottom: 0px;
        }
        p {
            margin-top: 0px;

            font-size: 2rem;
        }
        .btn {
            border: 2px solid #ea2027;
            @include flex(row, center);
            #month,
            #year {
                padding: 10px 20px;
                font-size: 2rem;
                cursor: pointer;
            }
            #month {
                background-color: #ea2027;
                color: #fff;
            }
            #year {
                background-color: #fff;
                color: #231e23;
            }
        }
    }
    .card-container {
        width: 100%;
        height: 70%;
        padding-top: 50px;
        @include flex(row, space-evenly);
        .card {
            width: 23%;
            height: 100%;
            border-radius: 10px;
            padding: 10px;
            border: 2px solid #ea2027;
            h2 {
                height: 10%;
                font-size: 2.5rem;
                display: flex;
                align-items: center;
                margin: 0px;
                padding: 0px 5px;
            }
            h1 {
                @include flex(row, flex-start);
                height: 15%;
                margin: 0px;
                padding: 0px 5px;
                .price {
                    font-size: 4rem;
                    font-weight: 700;
                    letter-spacing: 0.1rem;
                }
                .type {
                    font-family: sans-serif;
                    font-size: 1.8rem;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
            ul {
                height: 60%;
                margin: 0px;
                padding: 0px;
                li {
                    @include flex(row, space-evenly);
                    margin: 2px 0px;
                    height: 15%;
                    .icon {
                        border: none;
                        width: 10%;
                        height: 80%;
                        background-color: #ea2027;
                        border-radius: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .list-item {
                        font-family: sans-serif;
                        width: 80%;
                        font-size: 1.5rem;
                    }
                }
            }
            .subs-btn {
                height: 10%;
                width: 100%;
                text-align: center;
                a {
                    display: flex;
                    border-radius: 5px;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    font-size: 2rem;
                    background-color: #ea2027;
                    color: #fff;
                    transition: all 0.5s ease-in-out;
                }
                a:hover {
                    background-color: #231e23;
                }
            }
        }
    }
}

#contact {
    padding: 20px 50px;
    height: auto;
    @include flex(row, center);
    .location {
        @include border();
        padding: 0px 10px;
        width: 40%;
        margin: 0px 20px;
    }
    .contact-form-container {
        @include border();
        width: 40%;
        @include flex(column, center);
        @include border();
        .title {
            @include border();
        }
        .message {
            @include border();
        }
        form {
            width: 100%;
            @include flex(column, center);
        }
    }
}

/* Media Queries */

@media (max-width: 1070px) {
    #main {
        .navbar {
            .logo {
                font-size: 3.5rem;
                span {
                    font-size: 2.5rem;
                }
            }
            .menu {
                li {
                    a {
                        padding: 10px 15px;
                        font-size: 1.5rem;
                    }
                    a:hover {
                        border-bottom: 5px solid #ea2027;
                        border-left: 0px;
                        border-right: 0px;
                    }
                    #join-now-btn {
                        padding: 20px 20px;
                    }
                }
            }
        }

        .feature-text {
            width: 500px;
            right: 1%;
            bottom: 10%;
            h1 {
                font-size: 5rem;
            }
        }
    }
    #gallery {
        .gallery-container {
            .first {
                width: 250px;
                height: 350px;
            }
            .second {
                width: 350px;
                height: 450px;
            }
            .third {
                width: 450px;
                height: 550px;
            }
            .fourth {
                width: 350px;
                height: 450px;
            }
            .fifth {
                width: 250px;
                height: 350px;
            }
        }
    }
}

@media (max-width: 960px) {
    #pricing {
        .card-container {
            height: auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .card {
                width: 400px;
                height: 500px;
                margin: 20px 0px;
            }
        }
    }
}

@media (max-width: 860px) {
    #main {
        .navbar {
            .logo {
                font-size: 3rem;
                span {
                    font-size: 2rem;
                }
            }
            .menu {
                li {
                    a {
                        padding: 10px 10px;
                        font-size: 1.5rem;
                    }
                    a:hover {
                        border-bottom: 5px solid #ea2027;
                        border-left: 0px;
                        border-right: 0px;
                    }
                    #join-now-btn {
                        padding: 15px 5px;
                    }
                }
            }
        }

        .feature-text {
            width: 450px;
            bottom: 15%;
            h1 {
                font-size: 4.5rem;
            }
            a {
                font-size: 1.5rem;
            }
        }
    }
    #gallery {
        .gallery-container {
            .first {
                height: 300px;
            }
            .second {
                height: 400px;
            }
            .third {
                height: 500px;
            }
            .fourth {
                height: 400px;
            }
            .fifth {
                height: 300px;
            }
        }
    }
    #pricing {
        .card-container {
            .card {
                width: 350px;
                height: 450px;
                margin: 20px 0px;
            }
        }
    }
}

@media (max-width: 770px) {
    #main {
        .navbar {
            .logo {
                font-size: 3rem;
                span {
                    font-size: 2rem;
                }
            }
            .menu {
                padding: 0px;
                li {
                    a {
                        padding: 10px 10px;
                        font-size: 1.3rem;
                        font-weight: 500;
                    }
                    a:hover {
                        border-bottom: 5px solid #ea2027;
                        border-left: 0px;
                        border-right: 0px;
                    }
                    #join-now-btn {
                        padding: 15px 5px;
                    }
                }
            }
        }
    }
    #benefits {
        .container {
            @include flex(column, center);
            .image-container {
                width: 100%;
            }
            .text-container {
                width: 100%;
            }
        }
        .first {
            @include flex(column-reverse, center);
        }
    }
    #gallery {
        .gallery-container {
            .first {
                width: 150px;
                .text-container {
                    h1 {
                        font-size: 1rem;
                    }
                    q {
                        font-size: 0.8rem;
                        margin-bottom: 0px;
                    }
                    h3 {
                        font-size: 0.8rem;
                    }
                }
            }
            .second {
                width: 250px;
            }
            .third {
                width: 350px;
            }
            .fourth {
                width: 250px;
            }
            .fifth {
                width: 150px;
                .text-container {
                    h1 {
                        font-size: 1rem;
                    }
                    q {
                        font-size: 0.8rem;
                        margin-bottom: 0px;
                    }
                    h3 {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
    #pricing {
        .card-container {
            .card {
                width: 300px;
                height: 400px;
                margin: 20px 0px;
            }
        }
    }
}

@media (max-width: 670px) {
    #main {
        .bg-image {
            display: block;
            img {
                object-fit: cover;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -99;
            }
        }

        .toggle-menu {
            .close {
                display: none;
            }
        }

        .toggle-menu.active {
            .close {
                display: block;
            }
            .open {
                display: none;
            }
        }

        .menu-bar {
            display: none;
        }
        .menu-bar.active-menu-bar {
            z-index: 99;
            display: block;
            height: auto;
            width: 45vw;
            position: fixed;
            top: 10.2vh;
            right: 0;
            border-radius: 5px;
            box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
            background-color: rgba($color: #231e23, $alpha: 0.7);
            .side-menu {
                margin: 0;
                padding: 0px;
                width: 100%;
                @include flex(column, center);
                li {
                    width: 100%;
                    text-align: center;
                    padding: 5px 0px;
                    cursor: pointer;
                    a {
                        width: 100%;
                        font-size: 2rem;
                        color: #efefef;
                    }
                }
                li:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .navbar {
            height: 10vh;
            .toggle-menu {
                cursor: pointer;
                position: absolute;
                right: 2%;
                top: 50%;
                transform: translateY(-50%);
                display: block;
            }
            .menu {
                display: none;
            }
        }
        #bgvid {
            display: none;
        }
        .feature-text {
            width: 90%;
            left: 50%;
            bottom: 15%;
            transform: translateX(-50%);
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 2rem;
            }
        }
    }
    #pricing {
        .card-container {
            .card {
                width: 250px;
                height: 350px;
                margin: 20px 0px;
            }
        }
    }
}

@media (max-width: 600px) {
    #pricing {
        .card-container {
            .card {
                width: 250px;
                height: 350px;
                margin: 10px 0px;
            }
        }
    }
}

@media (max-width: 550px) {
    #gallery {
        .gallery-container {
            .first {
                display: none;
            }
            .second {
                width: 250px;
            }
            .third {
                width: 350px;
            }
            .fourth {
                width: 250px;
            }
            .fifth {
                display: none;
            }
        }
    }
    #pricing {
        .card-container {
            padding: 10px;
            .card {
                width: 100%;
                height: 450px;
                margin: 10px 0px;
            }
        }
    }
}

@media (max-width: 450px) {
    #gallery {
        .gallery-container {
            .gallery-title {
                position: absolute;
                left: 50%;
                top: 10%;
                transform: translate(-50%, -80%);
                display: block;
                font-weight: bold;
                font-size: 3rem;
            }
            .second {
                display: none;
            }
            .third {
                width: 100%;
                .text-container {
                    width: 80%;
                    @include flex(column, center);
                }
            }
            .fourth {
                display: none;
            }
        }
    }
    #pricing {
        .feature {
            h1 {
                font-size: 3rem;
            }
            p {
                font-size: 1.8rem;
                font-weight: 500;
                text-align: center;
            }
        }
    }
}
